@model BillAdmin.Models.TAdminLoginFail

@{
    ViewBag.Title = "LoginFailLstFrm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">관리자/로그인 -> 로그인 실패 이력</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <div class="dataTables_length" id="dataTable_length">
                            @using (Html.BeginForm("LoginFailLstFrm", "Admin", FormMethod.Post))
                            {
                                <span>관리자 아이디 :</span> @Html.TextBox("strAdminID")
                                <input type="submit" value="Search" />
                            }
                            <label> </label>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div id="dataTable_filter" class="dataTables_filter">

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-bordered dataTable" id="dataTable" style="display:none;" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                            <thead>

                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <div id="loginFailLstGrid">
                                            @Html.Partial("_ShowLoginFailList", Model.AdminLoginFailGrid)
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $("#strAdminID").change(function (e) {
            $("#loginFailLst").show()

            e.preventDefault();
            var url = '@Url.Action("LoginFailLstFrm", "Admin")';
            $.get(url, { strAdminID: $(this).val() }, function (result) {
                $('#loginFailLstGrid').text(result);
            });
        });
    });

</script>